html{
    background-color:#00d0ff05;
    scroll-behavior: smooth;
}
.body{
    width: 90%;
    justify-content: center;
    max-width: 1070px;
}

.MainHeader{
    text-align: center;
    font-size: 48px;
    word-spacing: 10px;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    justify-content: center;
    max-width: 1240px;
}

.MainHeader__container{
    width: 100%;
    background-color: #4d4c4c;
    opacity: 0.9;
    padding: 25px 0px;
    position: fixed;
}

.MainHeader__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    /* width: 60%; */
}

.MainHeader__inner-right{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    font-size: 30px;
}

.MainHeader__inner-right > nav:hover{
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.3);
}

.top__container-pic{
    height: 80vh;
    background-size: cover;
    background-image: url(../images/bg_festival_top.jpg);
}
.main_content{
    font-family: 'IBM Plex Serif', serif;
     font-weight: 500;
     font-size: 32px;
}
.text1_container{
     justify-content: center;
     text-align: center;
     width: 750px;
     margin-left: 60px;
     margin-top: 120px;
     margin-bottom: 50px;
     border:solid 5px grey;
     border-radius: 5px;
     box-shadow:3px 3px 3px grey; 
}
.venice_1{
    align-items: center;
    width: 600px;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    border: solid 3px grey;
}

.venice_1container{
    margin-top: 35px;
    margin-right: 60px;
    margin-left: 60px;

}
.first_part{
    display: flex;
    justify-content: space-around;
}
.second_part{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.third_part{
    display: flex;
    justify-content: space-around;
}
.text2_container{
    text-align: center;
    width: 735px;
    margin-top: 100px;
    margin-right: 60px;
    margin-bottom: 100px;
    border:solid 5px grey;
    border-radius: 5px;
    box-shadow:3px 3px 3px grey; 
}
.venice2_container{
   margin-right: -100px;
}
.venice_2{
    align-items: center;
    width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    border: solid 3px grey;
}
.text3_container{
    justify-content: center;
    text-align: center;
    width: 750px;
    margin-left: 60px;
    margin-top: 120px;
    margin-bottom: 120px;
    border:solid 5px grey;
    border-radius: 5px;
    box-shadow:3px 3px 3px grey; 
}
.venice3_container{
    margin-top: 50px;
}
.venice_3{
    align-items: center;
    width: 600px;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    border: solid 3px grey;
}



.footer{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    max-width: 1240px;
    gap: 1em;
}

.mainFooter{
    background-color: #4d4c4c;
    z-index: 1;
    background-size: cover;
}

.footer__inner{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}



.footer__icon > ul > li > a{
    cursor: pointer;
    color: #fff;
}

.footer__bottom{
    border-top: solid 1px #fff;
    text-align: center;
    align-items: center;
    color: #fff;
    padding: 1em;
}

.footer__link{
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.footer__link > ul > li > a{
    font-size: 2em;
    color: #fff;
}

.footer__link > ul, .footer__icon > ul{
    display: flex;
    gap: 4em;
    text-align: center;
}
