/* ---------------------------------------------------
    FESTIVAL
--------------------------------------------------- */

.main-hero-festival {
    background-image: url(../images/bg_festival_top.jpg);
}

.festival-carnevale {
    animation-delay: 0.5s;
}

.festival-origin {
    animation-delay: 1s;
}

.festival-festa {
    animation-delay: 1.5s;
}