/* ---------------------------------------------------
    HISTORY
--------------------------------------------------- */

.main-hero-history {
    background-image: url(../images/bg_history_top.jpg);
}

.history-republic {
    animation-delay: 0.5s;
}

.history-widged-lion {
    animation-delay: 1s;
}