/* ---------------------------------------------------
    FOOD
--------------------------------------------------- */

.main-hero-food {
    background-image: url(../images/bg_food_top.jpeg);
}

.food-sarde {
    animation-delay: 0.5s;
}

.food-bigoli {
    animation-delay: 1s;
}

.food-baccala {
    animation-delay: 1.5s;
}

.food-risi {
    animation-delay: 2s;
}

.food-aperol {
    animation-delay: 2.5s;
}

.food-bellini {
    animation-delay: 3s;
}