body{
    font-family: 'Bebas Neue', cursive;
    /* max-width: 1440px; */
}

body > span{
    font-size: 2em;
}

.MainHeader{
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    width: 90%;
    justify-content: center;
    max-width: 1240px;
}

.MainHeader__container{
    z-index: 99;
    width: 100%;
    background-color: #4d4c4c;
    /* opacity: 0.9; */
    padding: 25px 0px;
    position: fixed;
}

.MainHeader__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.MainHeader__inner-left > h1{
    letter-spacing: 1px;
    font-family: 'IBM Plex Serif', serif;
}

.MainHeader__inner-right{
    width: 30%;
}

.MainHeader__inner-right > ul{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}
.MainHeader__inner-right > ul > li{
    cursor: pointer;
}

.MainHeader__inner-right > nav{
    text-decoration: none;
}

.MainHeader__inner-right > ul > li > nav:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: scale 0.3s;
    transform: scale(1.3);
}

@keyframes fadeInTitle {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 1;
    }
}

.top__container-venice{
    animation: fadeInTitle 3.0s cubic-bezier(1, -0.38, 0, 0.45) 1;;
}

.top__container-pic{
    height: 75vh;
    background-size: cover;
    background-image: url(../Pics/VeniceMain.jpeg);
}

.top__container-venice > span{
    font-size: 92px;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    top: 39%;
    left: 26%;
    color: white;
    text-shadow: 4px 5px black;
}

.history, .food, .festival{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    max-width: 1240px;
    padding: 2em;
}

.history__container, .food__container, .festival__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .24);
}

.history__container-left, .food__container-right, .festival__container-left{
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.history__pic, .food__pic, .festival__pic{
    text-align: center;
}

.history__pic > img, .food__pic > img, .festival__pic > img{
    width: 85%;
    height: 40%;
}

.history__container-right, .food__container-left, .festival__container-right{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3em
}

.history__sentence, .food__sentence, .festival__sentence{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.history__sentence > h2, .food__sentence > h2, .festival__sentence > h2{
    font-size: 4em;
    font-weight: 700;
}

.history__sentence > span, .food__sentence > span, .festival__sentence > span{
    font-weight: 200;
    font-size: 1.2em;
    width: 90%;
}

.history__container-right > .btn, .food__container-left > .btn, .festival__container-right > .btn{
    cursor: pointer;
    padding: 1em 0.5em;
    border: solid 1px black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.history__container-right > .btn:hover, .food__container-left > .btn:hover, .festival__container-right > .btn:hover{
    color: white;
    background-color: black;
    transition: all 0.3s;
    transform: scale(1.2);
}

.footer{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    max-width: 1240px;
    gap: 1em;
}

.mainFooter{
    background-color: #4d4c4c;
    z-index: 1;
    background-size: cover;
}

.footer__inner{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}



.footer__icon > ul > li > a{
    cursor: pointer;
    color: #fff;
}

.footer__bottom{
    border-top: solid 1px #fff;
    text-align: center;
    align-items: center;
    color: #fff;
    padding: 1em;
}

.footer__link{
    display: flex;
    align-items: center;
}

.footer__link > ul > li > a{
    font-size: 2em;
    color: #fff;
}

.footer__link > ul, .footer__icon > ul{
    display: flex;
    gap: 4em;
    text-align: center;
}
